<<<<<<< HEAD:style.css
li:after {
  content: '\f099';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, Georgia;
  text-decoration: none;
  text-transform: capitalize;
}

body {
  min-height: auto;
  background: url(./e-bikes-for-hunting.jpg) no-repeat;
  background-size: cover;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  background: #F6F6F6;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

nav {
  background-color: #FBF3D5;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

nav ul li {
  display: inline-block;
  background-color: #F6F6F6;
}

nav a {
  display: block;
  padding: 0 10px;
  color: black;
  font-size: 18px;
  line-height: 60px;
  text-decoration: none;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 60px;
}

nav ul li:hover>ul {
  display: inherit;
}

nav ul ul li {
  width: 200px;
  float: none;
  display: list-item;
  position: relative;
}

nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 200px;
}

nav a:hover,
nav a:focus {
  background-color: #4CAF50;
  color: #fff;
}

nav ul ul li:hover>a {
  background-color: #4CAF50;
  color: #fff;
}

@media screen and (max-width: 800px) {
  nav ul li {
=======

body{
min-height: auto;
background: url(./e-bikes-for-hunting.jpg) no-repeat;
background-size: cover;
}


nav {
    background-color:	#FBF3D5;
    position: relative;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav ul li {
    display: inline-block;
    background-color: #F6F6F6;
    
  }

  
  nav a {
>>>>>>> 0ebdf71 (2nd day):previous/style.css
    display: block;
    width: 100%;
  }

  nav a {
    text-align: center;
  }

  nav ul ul {
    position: static;
    display: none;
  }

  nav ul li:hover>ul {
    display: none;
  }

  nav ul ul li {
    display: block;
    width: 100%;
  }
}